@page
@model Impresoras3D.App.Frontend.Pages.AsignarOperarioModel
@{
}
<h1>Asignar Operario</h1>
<br>
<h3>@ViewData["Error"]</h3>
<div class="text-center">
    <form method="POST">
        <div asp-validation-summary="ModelOnly" class=text-danger></div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label asp-for="Impresora.Id">Impresora</label>
                <select asp-for="Impresora.Id" id="Impresora" class="form-control">
                    @foreach (var impresora in Model.Impresoras)
                    {
                        <option value="@impresora.Id">@impresora.PlacaInventario - @impresora.Tipo</option>
                    }
                </select>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label asp-for="Operario.Id">Operario</label>
                <select asp-for="Operario.Id" id="Operario" class="form-control">
                    @foreach (var operario in Model.Operarios)
                    {
                        <option value="@operario.Id">@operario.Documento - @operario.PrimerNombre @operario.PrimerApellido</option>
                    }
                </select>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Confirmar</button>
    </form>
</div>
