@page
@model Impresoras3D.App.Frontend.Pages.RegistrarImpresoraModel
@{
    ViewData["Title"] = "Registrar Imresora";
}
<h1>Registro de Impresoras</h1>
<br>
<h3>@ViewData["Error"]</h3>
<div class="text-center">
    <form method="POST">
        <div asp-validation-summary="ModelOnly" class=text-danger></div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Impresora.PlacaInventario">Placa Inventario</label>
                <input asp-for="Impresora.PlacaInventario" type="text" class="form-control" id="PlacaInventario"
                    placeholder="Placa Inventario">
                <span asp-validation-for="Impresora.PlacaInventario" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Impresora.Tipo">Tipo de Impresora</label>
                <select asp-for="Impresora.Tipo" id="Impresora.Tipo" class="form-control">
                    <option selected value="Cartesina">Cartesina</option>
                    <option value="Polar">Polar</option>
                    <option value="Delta">Delta</option>
                </select>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Impresora.Marca">Marca</label>
                <input asp-for="Impresora.Marca" type="text" class="form-control" id="Marca" placeholder="Marca">
                <span asp-validation-for="Impresora.Marca" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Impresora.Modelo">Modelo / (Año)</label>
                <input asp-for="Impresora.Modelo" type="number" class="form-control" id="Modelo"
                    placeholder="Modelo / (Año)">
                <span asp-validation-for="Impresora.Modelo" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Impresora.PaisOrigen">Pais de Origen</label>
                <input asp-for="Impresora.PaisOrigen" type="text" class="form-control" id="PaisOrigen"
                    placeholder="Pais de Origen">
                <span asp-validation-for="Impresora.PaisOrigen" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Impresora.VelocidaImpresion">Velocidad Impresion</label>
                <input asp-for="Impresora.VelocidaImpresion" type="number" class="form-control" id="VelocidaImpresion"
                    placeholder="Velocidad Impresion">
                <span asp-validation-for="Impresora.VelocidaImpresion" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Impresora.VolumenImpresionX">Volumen Impresion X</label>
                <input asp-for="Impresora.VolumenImpresionX" type="number" class="form-control" id="VolumenImpresionX"
                    placeholder="Velocidad Impresion X">
                <span asp-validation-for="Impresora.VolumenImpresionX" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Impresora.VolumenImpresionY">Volumen Impresion Y</label>
                <input asp-for="Impresora.VolumenImpresionY" type="number" class="form-control" id="VolumenImpresionY"
                    placeholder="Velocidad Impresion Y">
                <span asp-validation-for="Impresora.VolumenImpresionY" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Impresora.VolumenImpresionZ">Volumen Impresion Z</label>
                <input asp-for="Impresora.VolumenImpresionZ" type="number" class="form-control" id="VolumenImpresionZ"
                    placeholder="Velocidad Impresion Z">
                <span asp-validation-for="Impresora.VolumenImpresionZ" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Impresora.EstadoID">Estado de Impresora</label>
                <select asp-for="Impresora.EstadoID" id="EstadoID" class="form-control">
                    @foreach (var estado in Model.Estados)
                    {
                        <option value="@estado.Id">@estado.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Impresora.SoftwareId">Sfotware de Impresora</label>
                <select asp-for="Impresora.SoftwareId" id="SoftwareId" class="form-control">
                    @foreach (var software in Model.Softwares)
                    {
                        <option value="@software.Id">@software.Nombre</option>
                    }
                </select>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>