@page
@model Impresoras3D.App.Frontend.Pages.ConsultarRevisionesModel
@{
    ViewData["Title"] = "Consultar Revisiones";
}

<div class="text-center">
    <br>
    <h1>Revisiones de la impresora: <span class="font-italic text-info">@Model.Impresora.PlacaInventario</span></h1>
    <br>
    <h3>@ViewData["Error"]</h3>
    <br><br>
    @if (@Model.ServiciosTecnicos.Any())
    {
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="bg-primary">
                    <th scope="col">Fecha</th>
                    <th scope="col">Nombre Técnico</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Software Actualizado</th>
                    <th scope="col">Detalles</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var servicio in Model.ServiciosTecnicos)
                {
                    <tr>
                        <th scope="row">@Html.ValueFor(ServicioTecnico => servicio.Fecha, "{0:dd/MM/yyyy}")</th>
                        @foreach (var tecnico in Model.Tecnicos)
                        {
                            @if (servicio.TecnicoId == tecnico.Id)
                            {
                                <td>@tecnico.PrimerNombre @tecnico.SegundoNombre @tecnico.PrimerApellido @tecnico.SegundoApellido</td>
                                <td>@tecnico.Documento</td>
                            }
                        }
                        @if (servicio != null)
                        {
                            <td>Sí</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        <td><a asp-page="ConsultarDetallesRevision" asp-route-id="@servicio.Id">Detalles</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <br><br>
        <h5 class="text-danger">Impresora <span class="font-weight-bold">@Model.Impresora.PlacaInventario</span>: sin
            revisiones hasta la fecha</h5>
    }
    <h3></h3>
</div>